@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.root {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
     background: #f5f0f0;
    color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: auto;
}

.link:hover {
    color: #ff5252
}

.MuiBadge-badge {
    background-color: #ff5252 !important;
}

nav ul button:hover {
    background: none !important;
}

.MuiTabs-indicator{background-color: #ff5252 !important;}
.MuiTab-textColorPrimary.Mui-selected{color: #ff5252 !important;}

.homeCatSlider .item:hover img{transform:scale(1.1);}

.productsSlider .swiper-wrapper{padding: 15px; margin-left: -15px; margin-right: -15px;}